// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'Arial';
  background-color: #F7F7F7;
  text-align: center;
}
.newgame {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color : #469AE0;
  padding: 10px;
  border-radius: 5px;
}

.letter {
  color:white;
  background: #469AE0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-size: 2.7rem;
  border-radius: 50%;
}


.hide {
  display: none;
}
.letterContainer {
  width: 80%;
  height: 20%;
  margin: 10px auto;
}

form {
  margin: 40px auto;
  text-align: center;
}

h1 {
  margin : 0 auto;
  text-align: center;
}
